{% extends "shop/layout.html" %}
{% load static %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}
    <div class="catalog">
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'category' category.id %}" style="color: black;">{{ category.name }}</a>
                    {% if category.children.all %}
                        <ul>
                            {% for child in category.children.all %}
                                <li><a href="{% url 'category' child.id %}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}