{% extends "shop/layout.html" %}
{% load static %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}
    <head>
        <link href="{% static 'shop/catalog.css' %}" type="text/css" rel="stylesheet">
    </head>
    <div class="catalog">
        <ul>
            {% for category in categories %}
                <li class="category">
                    <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                    {% if category.children.all %}
                        <ul class="subcategories">
                            {% for child in category.children.all %}
                                <li><a href="{% url 'category' child.id %}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}