{% extends 'shop/index.html' %}

{% block content %}
    <h1>{{ category.name }}</h1>
    {% if subcategories %}
        <ul>
            {% for subcategory in subcategories %}
                <li><a href="{% url 'category' subcategory.id %}">{{ subcategory.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if products %}
        <div class="products">
            {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}"><br>
                <h3>{{ product.name }}</h3>
                <p>Стоимость: {{ product.cost }} руб.</p>
                <a class="buy-button" href="{% url 'buy_product' product.id %}">Купить</a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}