{% extends "shop/layout.html" %}
{% load static %}

{% block title %}
    <title>Store</title>
{% endblock %}

{% block content %}
    <body>
        <div class="products">
            {% for product in last_products %}
            <div class="product">
                <a href="{% url 'product' product.id %}"><img src="{{ product.image.url }}"></a><br>
                <h3><a href="{% url 'product' product.id %}">{{ product.name }}</a></h3>
                <p>Стоимость: {{ product.price }} руб.</p>
                <a class="buy-button" href="{% url 'buy_product' product.id %}">Купить</a>
            </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}